* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Tahoma;
}

#header {
  height: 50px;
  background-color: #000;
  display: flex;
  position: relative;
}

#nav_left {
  width: 60%;
  color: #fff;
  text-decoration: none;
  line-height: 50px;
  padding: 0 10px;
  display: flex;
}

#nav {
  width: 40%;
}

#nav li {
  display: inline-block;
}

#nav li a {
  color: #c4d1db;
  text-decoration: none;
  line-height: 50px;
  padding: 0 27px;
  display: inline-block;
}

#nav li:hover a {
  color: #fff;
}

#content {
  display: flex;
}

#left {
  width: 30%;
  height: 90vh;
}

#shop {
  padding: 10px 20px;
  line-height: 70px;
  display: block;
}

#category {
  height: 100px;
  padding: 0 10px;
  font-size: 20px;
}

.cate {
  padding: 5px;
  border: 2px;
}

.cate a {
  text-decoration: none;
  color: #000;
}

#right {
  width: 70%;
  padding: 0 40px 0 30px;
}

#slide {
  position: relative;
  height: 50vh;
  width: 100%;
  background-image: url(https://freshfruitvietnam.vn/upload/images/2020/03/1405x562-1585553438-single_banner1-Nen.jpg);
  background-size: 70vw 50vh;
  background-repeat: no-repeat;
  background-position-y: 20px;
}

#order {
  display: flex;
}

.sp {
  height: 500px;
  width: 40%;
  padding-top: 30px;
  display: flexbox;
}

.sp img {
  height: 200px;
  width: 100%;
}

.fruit {
  padding-right: 20px;
}

.infor {
  padding: 10px 20px;
}

.infor .name {
  color: rgb(41, 115, 175);
  font-size: 20px;
}

.infor .price {
  font-size: 20px;
}

.rate {
  height: 50px;
}

#footer {
  height: 100px;
  background-color: #333;
  line-height: 100px;
  color: #fff;
  text-align: center;
}
