* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Tahoma;
}

#header {
  height: 100px;
  background-color: rgb(219, 216, 213);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header span{
  color: #333;
  font-size: 40px;
  margin-left: 40px;
  display: inline-block;
}

#header nav{
  display: flex;

}

#header nav a{
  margin-right: 50px;
  text-decoration: none;
  color: #333;
}

#header nav a :first-child{
  color: red;
}

#main {
  border-left: 100px;
  height: 500px;
  width: auto;
  background-color: aqua;
  margin: 20px 200px 100px 200px;
  align-items: center;
}

.teams {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.team {
  flex: 0 1 32%;
  height: 250px;
  border-radius: 5px;
}
.team .images {
  height: 80%;
  background-color: rgb(113, 221, 240);
}
.team .content {
  height: 20%;
  padding: 10px;
  text-align: center;
  font-style: italic;
}
